@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <link href="~/css/newStyle.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <title>calendarium</title>
    </head>
    <body>
        <div class="boxMain">
            <h1>Calendarium</h1>
            <p class="description">
            Calendarium é um aplicação feita por <a href="https://github.com/matheuspellisoli"  target=“_blank”>Matheus Pellisoli</a>.
            <br> Nesta aplicação você pode somar ou subtrair minutos de uma data.
            </p>
        <div class="boxDate fontDate" id="dateLabel">
            00/00/0000 00:00
        </div>
        <div class="formDate">
            <div>
                <div class="row label textLabel">
                    Data:
                </div>
                <div class="row">
                <input type="date" id="date" class="">
                </div>
                <div class="row error" id="errDate">
                                      
                </div>
            </div>
            
            <div>
                <div class="row label textLabel">
                    Horário:
                </div>
                <div class="row">
                <input type="text" id="hour" maxlength="5">
                </div>
                <div class="row error" id="errHour">
                    
                </div>
            </div>


            <div>
                <div class="row label">
                    Operação:
                </div>
                <div class="row">
                 <input type="checkbox" style="display: none">
                 <div class="toggle" id="toggleButton">
                     <div class="button toggleLeft" id="Button">
                         <label id="toggleLabel">+</label>
                         <input type="hidden" value="+" id="toggleValue">
                     </div>
                     <label id="toggleLabelHiden" class="toggleLabelHiden">-</label>
                      
                 </div>                 
                </div>
                <div class="row error" id="errDate">
                    
                </div>
            </div>

            <div>
                <div class="row label textLabel">
                    Minutos:
                </div>
                <div class="row">
                <input type="text" id="minute">
                </div>
                <div class="row error" id="errMinute">
                    
                </div>
            </div>

            <div>
                <div class="row">
                <button class="clear buttonStyle" id="clear">Limpar</button>
                 <button class="calculate buttonStyle" id="calculate">Calcular</button>
                </div>
                
                    
                </div>
            </div>
        </div>
        </div>

        <script src="~/js/script.js"></script>
    </body>
</html>