@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <link href="~/css/style.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">

            <div><h1 class="font">API DATA</h1></div>

            <div><p class="font date" id="Labeldate"> 26/03/98 23:58</p></div>
            <div><p class="font pequena">Data</p></div>

            <input type="text" id="date" placeholder="35/09/1998">
             <div><p class="font pequena">Hora</p></div>
                <input type="text" id="time" placeholder="23:00">             
            <div><p class="font pequena">Selecione uma operação que de seja</p></div>        
            <select id="op">
                <option value="+">Somar</option>
                <option value="-">Subtrair</option>
            </select>
            <div><p class="font pequena">Value</p></div>
            <input type="text" id="value" placeholder="4000">
            <input type="submit" id="calcular" value="calcular">
        </div>

        <script src="~/js/main.js"></script>
    </body>
</html>